*{
    color: white;
    font-size: 25px;
    background-color: #1A1A1C;
}
body{
    padding:0px 100px;
}
img{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    column-gap: 20px;
    font-size: 20px !important;
    padding:20px;
}
#search{
    flex-grow: 1;
}
#search::placeholder{
    color: white;
}
#search:focus{
    outline: gray;
}
.headerItem{
    border:1px solid gray;
    padding: 17px;
    cursor: pointer;

}
main{
    display: flex;
    flex-direction: column;
}

.box{
    /* display: flex;
    justify-content: space-between;

    align-items: center; */
    border-bottom: 2px solid gray;
    padding: 15px 8px;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px; */
    grid-template-columns: 270px 120px 125px 200px 125px 320px;
    /* grid-template-columns: repeat(6,1fr); */
    justify-items: start;
    column-gap: 6px;

}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.name .logo{
    width: 40px;
    height: 40px;
    
}

.box .sf{
    text-transform: uppercase;

}
